.container {
  display: flex;
  align-items: center;
  gap: 100px;

  .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .title {
      font-size: 72px;
      color: #fff;
      /* background: linear-gradient(to bottom, #6dd5ed, #2193b0);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; */
    }

    .desc {
      font-size: 16px;
      font-weight: 300;
    }

    .cta {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      text-decoration: underline;
      text-underline-position: under;
      font-size: 18px;
      cursor: pointer;

      .link {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    .img {
      width: 100%;
      height: 500px;
      object-fit: contain;
      animation: move 3s infinite ease alternate;
    }
  }
}

@keyframes move {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}