.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*  padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
 */
    .logo {
        font-weight: bold;
        font-size: 20px;
    }

    .links {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .btn {
        padding: 10px;
        border: none;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px) saturate(160%) contrast(50%) brightness(130%);
        -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
    }
}