.container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .socials {
        display: flex;
        align-items: center;
        font-size: larger;
        cursor: pointer;
        gap: 5px;
    }
}