.container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .socials {
        display: flex;
        align-items: center;
        font-size: larger;
        cursor: pointer;

        .socialFb {
            color: #003da6;
        }

        .socialIg {
            color: #f12711;
        }

        .socialTw {
            color: #34a0a4;
        }

        .socialLi {
            color: #0077b6;
        }
    }
}