.container {
    width: 42px;
    height: 24px;
    border: 1.5px solid #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    cursor: pointer;

    .icon {
        font-size: 12px;
        display: flex;
        align-items: center;
        color: #F2C94C;
    }

    .ball {
        width: 15px;
        height: 15px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
    }
}